@import "src/Variables.scss";

.jokes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .joke {
    border: 1px solid $blue;
    padding: 10px 30px;
    border-radius: 5px;
  }
}
